img {
    width: 100px;
}

.super-mario {
    position: absolute;
}

.goomba {
    position: absolute;
    top: 250px;
}

.bowser {
    position: absolute;
    top: 250px;
    left: 250px;
}

.baloon {
    position: absolute;
    left: 150px;
    z-index: 1;
    top: 200px;
}

.word {
    position: absolute;
    left: 160px;
    z-index: 2;
    top: 199px;
    text-align: center;
    font-size: 13px;

}


